/* Global Layout Set-up */
/* * {
    box-sizing: border-box;
  } */

body {
   
    display:flex;
    /* background-color: wheat; */
    flex-direction: column;
    
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1%;
   
    
    
}

.images { 
    /* The image used */
    background-color: white;
    background-image: url("images/french2.jpg");
    border-radius: 5%;
    box-shadow: 5px 5px;
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    justify-content: center;
}

.logo {
    
    border: 1px black thin;
    text-align: center;
}

    h1 {
       font-family: 'IM Fell French Canon SC', serif; 
       justify-content: center;
       font-size: 15vw;
    }

.para {
    justify-content: center;
}
    p {
        font-size: 200%;
        text-align: center;
    }

 ::placeholder {
     text-align: center;
 }

    .instruction {
        font-family: 'IM Fell French Canon SC', serif;
        border: 1px black thin;  
        color: black;
        padding-top: 10%;
    }
 .text {
        display: flex;
        flex-direction: column;
}
    .inText1 {
        border: 1px black thin; 
        border-radius: 5%;
        box-shadow: 5px 5px;
        justify-content: center;
        height: 100px;
        margin-top:15px;
        /* margin-top: 5px; */
    }

    .dom {
        justify-content: center;
        
        border: 1px black thin;
        /* margin-top: 5px; */
    }

.button {
    border: 1px black thin; 
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    
}
    #SPANISH{
        justify-content:center;
        margin-right: 50px;
        padding: 50px;
        box-shadow: 5px, 5px;
    }
    #FRENCH{
        justify-content:center;
        margin-right: 50px;
        padding: 50px;
        box-shadow: 5px, 5px;
    }
    #ITALIAN{
        justify-content:center;
        margin-right: 50px;
        padding: 50px;
        box-shadow: 5px, 5px;
    }
 
input[type="text"] {
    text-align:center;
    font-family: monospace;
    font-size: 5vw;
    color:black;
    }   

#print_dom{
margin-top: 25px;
margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color:white;
    }

    .button {
        border: 1px black thin; 
        display: flex;
        padding-top: 10px;
        padding-bottom: 20px;
        
    }
        #SPANISH{
            justify-content:center;
            margin-right: 5px;
            padding: 10px;
        }
        #FRENCH{
            justify-content:center;
            margin-right: 5px;
            padding: 10px;
    
        }
        #ITALIAN{
            justify-content:center;
            margin-right: 5px;
            padding: 10px;
        }


        .para {
            justify-content: center;
        }
            p {
                font-size: 100%;
                text-align: center;
            }
            .instruction {
                border: 1px black thin;  
                color: black;
                padding-top: 5%;
            }    
}