/* Global Layout Set-up */
/* * {
    box-sizing: border-box;
  } */

body {
    display:flex;
    background-color: wheat;
    flex-direction: column;
}
div {
    justify-content: center;
}

.logo {
    /* text-align: center; */
    /* font-size: 500px; */
    border: 1px black solid;
    text-align: center;
    
}
.para {
    justify-content: center;
}
    p {
        font-size: 200%;
        text-align: center;
    }

    h1 {
        text-align: center;    
        font-size: 800%;
    }

 ::placeholder {
     text-align: center;
 }

    .instruction {
        border: 1px black solid;  
        /* text-align: center; */
        /* margin: 5px, 5px, 5px, 5px; */
        /* padding: 5px; */
    }
 .text {
        display: flex;
        flex-direction: column;
}
    .inText1 {
        border: 1px black solid; 
        justify-content: center;
        height: 100px;
        /* margin-top: 5px; */
    }

    .dom {
        justify-content: center;
        
        border: 1px black solid;
        /* margin-top: 5px; */
    }

.button {
    border: 1px black solid; 
    display: flex;
}
    b1{
        justify-content:center;
    }
    b2{
        justify-content:center;
    }
    b3{
        justify-content:center;
    }
 
input[type="text"] {
    text-align:center;
    font-family: monospace;
    font-size: 50px;
    color: peru;
    }   
#print_dom{
margin-top: 25px;
margin-bottom: 25px;
}